<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
  
  <header class="header">
    <nav class="navbar">
      <div class="logo">Delicious Recipes</div>
      
      <div class="menu-toggle" id="mobileMenu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <ul class="nav-links" id="navLinks">
        <li><a href="index.html">Home</a></li>
        <li><a href="receipe.html">Recipes</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="Browse.html">Browse</a></li>
      </ul>
    </nav>
  </header>
  

  
  <main class="main-container">
    <aside class="sidebar">
      <h2>Categories</h2>
      <ul class="category-list">
        <li><a href="#" data-category="desserts">Desserts</a></li>
        <li><a href="#" data-category="breakfast">Breakfast</a></li>
        <li><a href="#" data-category="lunch">Lunch</a></li>
        <li><a href="#" data-category="dinner">Dinner</a></li>
        <li><a href="#" data-category="snacks">Snacks</a></li>
      </ul>
    </aside>

    <section class="recipes">
      <h1>Recipes</h1>
      <div class="recipe-cards" id="recipeCards">
        
      </div>
    </section>
  </main>
  <footer class="footer">
    <p>&copy; 2024 Delicious Recipes. All Rights Reserved.</p>
  </footer>
  <script src="../js/script.js"></script>
</body>
</html>
