<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saved Recipes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <link rel="stylesheet" href="../css/SaveLater.css">
</head>
<body>
  <header>
    <div class="navbar">
      <div class="logo">Delicious Recipes</div>
      <div class="menu-toggle" id="mobileMenu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <ul class="nav-links" id="navLinks">
        <li><a href="index.html">Home</a></li>
        <li><a href="receipe.html">Recipes</a></li>
        <li><a href="browse.html">Browse Recipes</a></li>
        <li><a href="saveLater.html">Saved Recipes</a></li>
      </ul>
    </div>
  </header>

  <main class="main-container">
    <section class="recipes">
    <h1 id="h1">Saved Recipes</h1>
    <div id="message"></div>
    <div id="saved-recipes" class="recipe-cards"></div>
    </section>
  </main>

  <script src="../js/saveLater.js">
  </script>
</body>
</html>
